### Project 2: Build Decision Tree for Attrition Rate Analysis

DV - "Attrition"

IDV - Output of RF Algorithm

In [7]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv("general_data.csv")

In [9]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4391 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4401 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB

## Filling Missing Values

In [11]:
# NumCompaniesWorked

print("There are",df.NumCompaniesWorked.isna().sum(),"missing values")

df.NumCompaniesWorked = df.NumCompaniesWorked.fillna(df.NumCompaniesWorked.mean())
print("after filling there are",df.NumCompaniesWorked.isna().sum(),"missing values")

There are 19 missing values
after filling there are 0 missing values

In [12]:
# TotalWorkingYears

print("There are",df.TotalWorkingYears.isna().sum(),"missing values")

df.TotalWorkingYears = df.TotalWorkingYears.fillna(df.TotalWorkingYears.mean())
print("after filling there are",df.TotalWorkingYears.isna().sum(),"missing values")

There are 9 missing values
after filling there are 0 missing values

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4410 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4410 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB

# Encoding

Attrition
BusinessTravel
Department
EducationField
Gender
JobRole
MaritalStatus
Over18

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df.Attrition = le.fit_transform(df.Attrition)
df.BusinessTravel = le.fit_transform(df.BusinessTravel)
df.Department = le.fit_transform(df.Department)
df.EducationField = le.fit_transform(df.EducationField)
df.Gender = le.fit_transform(df.Gender)
df.JobRole = le.fit_transform(df.JobRole)
df.MaritalStatus = le.fit_transform(df.MaritalStatus)
df.Over18 = le.fit_transform(df.Over18)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   int32
 2   BusinessTravel           4410 non-null   int32
 3   Department               4410 non-null   int32
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   int32
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   int32
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   int32
 12  MaritalStatus            4410 non-null   int32
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4410 non-null   float64
 15  Over18                   4410 non-null   int32
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4410 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int32(8), int64(14)
memory usage: 689.2 KB

## X and Y Variables

In [16]:
x = df.drop(["EmployeeID","Attrition"],axis=1)

In [17]:
x.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,Gender,JobLevel,JobRole,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,2,2,6,2,1,1,0,1,0,...,1.0,0,11,8,0,1.0,6,1,0,0
1,31,1,1,10,1,1,1,0,1,6,...,0.0,0,23,8,1,6.0,3,5,1,4
2,32,1,1,17,4,4,1,1,4,7,...,1.0,0,15,8,3,5.0,2,5,0,3
3,38,0,1,2,5,1,1,1,3,1,...,3.0,0,11,8,3,13.0,5,8,7,5
4,32,2,1,10,1,3,1,1,1,7,...,4.0,0,12,8,2,9.0,2,6,0,4

In [18]:
y = df.Attrition

## Random Forest -to identify IMP Variables

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
rf_model = RandomForestClassifier(n_estimators=1000,oob_score=True)

In [21]:
rf_model.fit(x,y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [22]:
print("OOB Accuracy",rf_model.oob_score_)

OOB Accuracy 0.9997732426303855

In [23]:
features = ['Age','BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'Gender', 'JobLevel',
       'JobRole', 'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked',
       'Over18', 'PercentSalaryHike', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [24]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

Age 0.10117796549826412
BusinessTravel 0.02741692765934415
Department 0.02528944139705192
DistanceFromHome 0.07093964849130757
Education 0.038374154992528914
EducationField 0.040098703051632933
EmployeeCount 0.0
Gender 0.016239636780760635
JobLevel 0.035071569158959225
JobRole 0.05532486094995426
MaritalStatus 0.03925455759063861
MonthlyIncome 0.10352478003435753
NumCompaniesWorked 0.05691170398726332
Over18 0.0
PercentSalaryHike 0.0669384222609085
StandardHours 0.0
StockOptionLevel 0.033338803131294045
TotalWorkingYears 0.0866197064725181
TrainingTimesLastYear 0.04462116872220301
YearsAtCompany 0.0662998299303592
YearsSinceLastPromotion 0.042171726897681006
YearsWithCurrManager 0.050386392992972914

Age 0.10055249754554424

DistanceFromHome 0.07107017786427876

JobRole 0.05639937622860021

MonthlyIncome 0.10468868677514195
NumCompaniesWorked 0.056219503194440926

PercentSalaryHike 0.06560153415635858

TotalWorkingYears 0.08752780389535653
YearsAtCompany 0.06552301337098125
YearsWithCurrManager 0.05003404254837347

In [25]:
# considering the imp features, building Decision tree model.

In [26]:
features = ['Age', 'DistanceFromHome','JobRole','MonthlyIncome', 'NumCompaniesWorked',
            'PercentSalaryHike','YearsAtCompany', 'YearsWithCurrManager']

y = "Attrition"

# Decission Tree Model Buiding

In [27]:
from sklearn import tree

In [28]:
tree_model = tree.DecisionTreeClassifier(max_depth=9)

tree_model.fit(X=df[features],y=df[y])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=9, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [29]:
with open("dtree.dot","w") as f:
    f= tree.export_graphviz(tree_model , feature_names=features,out_file = f)